@font-face {
    font-family: 'Terafic';
    src: url('../../font/terafik.eot'); /* FOR IEs (http://ttf2eot.sebastiankippe.com/) */
    src: local('terafik'), url('../../font/terafik.ttf') format('truetype'); /* for other web browsers */
}

body {
    direction: ltr;
    background-color: white;
    font-family: 'Terafic';
    font-size: 12px;
}

input {
    font-family: 'Terafic';
}